body {
font-size: 22px;
line-height:1.5;
color: #ffffff;
background: #141414;}

img{
height:250px;
width:250px;}


.wrapper {
padding: 30px 30px 300px;
margin:18px;
}

.text{
font-weight:200;
font-size:20px;
margin-left:15px;
margin-bottom:15px;
margin-right:15px;
margin-up:15px;

}

.row {
    display: flex;
    width:100%;
	margin: 0 15px 30px;
	padding: 20px;
	border-radius: 6px;
	box-sizing: border-box;
	background: rgba(255,255,255,0.12);
	flex:0 0 auto;
}

.row-33 {
    flex-direction:row;
    width: 33.33%;
    }